<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Order</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="info">
        <div class="border">
            <form action="#" th:action="@{/ui/order/add}" th:object="${order}"
                  method="POST">

                <div>
                    <h1>ADD ORDER</h1>
                </div>

                <table>
                    <tr>
                        <td><label for="num1">OrderNumber</label></td>
                        <td><input id="num1" type="number" th:field="*{orderNumber}"  required></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num2">GoodsList</label>
                        </td>
                        <td>
                            <div id="num2">
                                <select multiple th:field="*{goodsList}">
                                    <option th:each="goodsListId: ${goodsListId}"
                                            th:value="${goodsListId.id}" th:text="${goodsListId.kind}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="num3">DeliveryDate</label></td>
                        <td><input id="num3" type="number" th:field="*{deliveryDate}"  required></td>
                    </tr>
                </table>

                <br><br>


                <button class="buttonYes" type="submit">
                    SAVE
                </button>
            </form>

            <br>
            <div>
                <a th:href="@{/ui/order/get/all}" href="#" class="btn btn-sm animated-button sandy-two">Back</a>
            </div>
        </div>

    </div>
</body>
</html>