<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Hall</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="info">
        <div class="border">
            <form action="#" th:action="@{/ui/hall/add}" th:object="${hall}"
                  method="POST">

                <div>
                    <h1>ADD HALL</h1>
                </div>

                <table>
                    <tr>
                        <td><label for="num1">HallNumber</label></td>
                        <td><input id="num1" type="number" th:field="*{hallNumber}"  required></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num2">SellerList</label>
                        </td>
                        <td>
                            <div id="num2">
                                <select th:field="*{sellerList}">
                                    <option th:each="sellerListId: ${sellerListId}"
                                            th:value="${sellerListId.id}" th:text="${sellerListId.firstName}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>

                <br><br>


                <button class="buttonYes" type="submit">
                    SAVE
                </button>
            </form>

            <br>
            <div>
                <a th:href="@{/ui/hall/get/all}" href="#" class="btn btn-sm animated-button sandy-two">Back</a>
            </div>
        </div>

    </div>
</body>
</html>