<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Goods</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="info">
        <div class="border">
            <form action="#" th:action="@{/ui/goods/add}" th:object="${goods}"
                  method="POST">

                <div>
                    <h1>ADD GOODS</h1>
                </div>

                <table>
                    <tr>
                        <td><label for="num1">Kind</label></td>
                        <td><input id="num1" type="number" th:field="*{kind}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num2">Price</label></td>
                        <td><input id="num2" type="number" th:field="*{price}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num3">Amount</label></td>
                        <td><input id="num3" type="number" th:field="*{amount}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num4">DateOfManufacture</label></td>
                        <td><input id="num4" type="number" th:field="*{dateOfManufacture}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num5">ExpirationDate</label></td>
                        <td><input id="num5" type="number" th:field="*{expirationDate}"  required></td>
                    </tr>
                </table>

                <br><br>


                <button class="buttonYes" type="submit">
                    SAVE
                </button>
            </form>

            <br>
            <div>
                <a th:href="@{/ui/goods/get/all}" href="#" class="btn btn-sm animated-button sandy-two">Back</a>
            </div>
        </div>

    </div>
</body>
</html>