<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Goods</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="info">
        <div class="border">

            <div>
                <h1>EDIT GOODS</h1>
            </div>

            <form id="dataMain" action="#" th:action="@{/ui/goods/update}" th:object="${goods}"
                  method="POST">

                <table>
                    <tr>
                        <td><label for="num0">Id</label></td>
                        <td><input id="num0" readonly th:field="*{id}"/></td>
                    </tr>
                    <tr>
                        <td><label for="num1">Kind</label></td>
                        <td><input id="num1" type="number" th:field="*{kind}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num2">Price</label></td>
                        <td><input id="num2" type="number" th:field="*{price}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num3">Amount</label></td>
                        <td><input id="num3" type="number" th:field="*{amount}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num4">DateOfManufacture</label></td>
                        <td><input id="num4" type="number" th:field="*{dateOfManufacture}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num5">ExpirationDate</label></td>
                        <td><input id="num5" type="number" th:field="*{expirationDate}"  required></td>
                    </tr>
                </table>

                <br><br>

                <button class="buttonYes" type="submit">
                    DONE
                </button>
            </form>
            <br>
            <div>
                <a th:href="@{/ui/goods/get/all}" href="#" class="btn btn-sm animated-button sandy-two">Back</a>
            </div>
        </div>
    </div>

</body>
</html>