<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Directory</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="info">
        <div class="border">

            <div>
                <h1>EDIT DIRECTORY</h1>
            </div>

            <form id="dataMain" action="#" th:action="@{/ui/directory/update}" th:object="${directory}"
                  method="POST">

                <table>
                    <tr>
                        <td><label for="num0">Id</label></td>
                        <td><input id="num0" readonly th:field="*{id}"/></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num1">GoodsList</label>
                        </td>
                        <td>
                            <div id="num1">
                                <select multiple th:field="*{goodsList}"  required>
                                    <option th:each="goodsListId: ${goodsListId}"
                                            th:value="${goodsListId.id}" th:text="${goodsListId.kind}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num2">SpoiledList</label>
                        </td>
                        <td>
                            <div id="num2">
                                <select multiple th:field="*{spoiledList}"  required>
                                    <option th:each="goodsListId: ${goodsListId}"
                                            th:value="${goodsListId.id}" th:text="${goodsListId.kind}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num3">SpoiledList</label>
                        </td>
                        <td>
                            <div id="num3">
                                <select multiple th:field="*{spoiledList}"  required>
                                    <option th:each="goodsListId: ${goodsListId}"
                                            th:value="${goodsListId.id}" th:text="${goodsListId.kind}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="num4">RentalPrice</label></td>
                        <td><input id="num4" type="number" th:field="*{rentalPrice}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num5">RetailSpace</label></td>
                        <td><input id="num5" type="number" th:field="*{retailSpace}"  required></td>
                    </tr>
                    <tr>
                        <td><label for="num6">NumberOfCounters</label></td>
                        <td><input id="num6" type="number" th:field="*{numberOfCounters}"  required></td>
                    </tr>
                </table>

                <br><br>

                <button class="buttonYes" type="submit">
                    DONE
                </button>
            </form>
            <br>
            <div>
                <a th:href="@{/ui/directory/get/all}" href="#" class="btn btn-sm animated-button sandy-two">Back</a>
            </div>
        </div>
    </div>

</body>
</html>