<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="content">

    <table>
        <thead>

        <tr class="title">
            <th style="width: 10%">Id</th>
            <th style="width: 15%">FirstName</th>
            <th style="width: 15%">SecondName</th>
            <th style="width: 5%">Age</th>
            <th style="width: 5%">Gender</th>
            <th style="width: 15%">CreatedAt</th>
            <th style="width: 15%">ModifiedAt</th>
            <th style="width: 20%" colspan="2">OPTIONS</th>
        </tr>

        </thead>

        <tbody>
        <tr th:each="person: ${personList}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.secondName}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${person.gender}"></td>
            <td th:text="${person.createdAt}"></td>
            <td th:text="${person.modifiedAt}"></td>
            <td>
                <a class="btn btn-sm animated-button victoria-two" th:href="@{/ui/person/delete/{id}(id=${person.id})}">Delete</a>
                <a class="btn btn-sm animated-button victoria-one" th:href="@{/ui/person/showUpdateForm/{id}(id=${person.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <br>

    <a th:href = "@{/ui/person/showNewForm}" class="btn btn-sm animated-button sandy-two">Add</a>
</div>
</body>
</html>