<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="info">
        <div class="border">
        <form action="#" th:action="@{/ui/person/update}" th:object="${person}"
              method="POST">
            <div>
                <h1>UPDATE PERSON</h1>
            </div>
            <table>
                <tr>
                    <td><label for="num1">Id</label></td>
                    <td><input id="num1" readonly th:field="*{id}"/></td>
                </tr>
                <tr>
                    <td><label for="num2">FirstName</label></td>
                    <td><input id="num2" th:field="*{firstName}"  required></td>
                </tr>
                <tr>
                    <td><label for="num3">SecondName</label></td>
                    <td><input id="num3" th:field="*{secondName}"  required></td>
                </tr>
                <tr>
                    <td><label for="num4">Age</label></td>
                    <td><input id="num4" type="number" th:field="*{age}"  required></td>
                </tr>
                <tr>
                    <td><label for="num5">Gender</label></td>
                    <td><input id="num5" th:field="*{gender}"  required></td>
                </tr>
            </table>
            <br>
            <br>
            <button class="buttonYes" type="submit">DONE</button>
        </form>

            <br>

        <a class="btn btn-sm animated-button sandy-two" th:href="@{/ui/person/get/all}">Back</a>
    </div>
    </div>


</body>
</html>