<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update DepartmentStore</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="info">
        <div class="border">

            <div>
                <h1>EDIT DEPARTMENTSTORE</h1>
            </div>

            <form id="dataMain" action="#" th:action="@{/ui/departmentStore/update}" th:object="${departmentStore}"
                  method="POST">

                <table>
                    <tr>
                        <td><label for="num0">Id</label></td>
                        <td><input id="num0" readonly th:field="*{id}"/></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num1">HeadList</label>
                        </td>
                        <td>
                            <div id="num1">
                                <select multiple th:field="*{headList}"   required>
                                    <option th:each="headListId: ${headListId}"
                                            th:value="${headListId.id}" th:text="${headListId.person.firstName}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num2">Manager</label>
                        </td>
                        <td>
                            <div id="num2">
                                <select th:field="*{manager}"   required>
                                    <option th:each="managerListId: ${managerListId}"
                                            th:value="${managerListId.id}" th:text="${managerListId.person.firstName}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num3">BuyerList</label>
                        </td>
                        <td>
                            <div id="num3">
                                <select multiple th:field="*{buyerList}"   required>
                                    <option th:each="buyerListId: ${buyerListId}"
                                            th:value="${buyerListId.id}" th:text="${buyerListId.person.firstName}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num4">Directory</label>
                        </td>
                        <td>
                            <div id="num4">
                                <select th:field="*{directory}"   required>
                                    <option th:each="directoryListId: ${directoryListId}"
                                            th:value="${directoryListId.id}" th:text="${directoryListId.rentalPrice}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num5">SectionList</label>
                        </td>
                        <td>
                            <div id="num5">
                                <select multiple th:field="*{sectionList}"   required>
                                    <option th:each="sectionListId: ${sectionListId}"
                                            th:value="${sectionListId.id}" th:text="${sectionListId.sectionNumber}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>

                <br><br>

                <button class="buttonYes" type="submit">
                    DONE
                </button>
            </form>
            <br>
            <div>
                <a th:href="@{/ui/departmentStore/get/all}" href="#" class="btn btn-sm animated-button sandy-two">Back</a>
            </div>
        </div>
    </div>

</body>
</html>