<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Head</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="info">
        <div class="border">

            <div>
                <h1>EDIT HEAD</h1>
            </div>

            <form id="dataMain" action="#" th:action="@{/ui/buyer/update}" th:object="${buyer}"
                  method="POST">
                <table>
                    <tr>
                        <td>
                            <label for="num0">Id</label>
                        </td>
                        <td>
                            <input id="num0" readonly th:field="*{id}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="num1">Person</label>
                        </td>
                        <td>
                            <div id="num1">
                                <select th:field="*{person}"   required>
                                    <option th:each="personListId: ${personListId}"
                                            th:value="${personListId.id}" th:text="${personListId.firstName}">ID
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="num2">Experience</label></td>
                        <td>
                            <div id="num2">
                                <select th:field="*{purchaseList}"   required>
                                    <option th:each="purchaseListId: ${purchaseListId}"
                                            th:value="${purchaseListId.id}" th:text="${purchaseListId.dateOfPurchase}">ID
                                    </option>
                                </select>
                            </div>
                        </td>                    </tr>

                </table>

                <br><br>

                <button class="buttonYes" type="submit">
                    DONE
                </button>
            </form>
            <br>
            <div>
                <a th:href="@{/ui/buyer/get/all}" href="#" class="btn btn-sm animated-button sandy-two">Back</a>
            </div>
        </div>
    </div>

</body>
</html>